$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

/*------------LOGIN------------*/

#login-bakgrunn {
  background: url('https://s3-eu-west-1.amazonaws.com/powerhack/login.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  left: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  min-height: 100%;
  min-width: 100%;
}

.loginknapp {
  position: absolute;
  display: block;
  left: 0;
  width: 64%;
  margin-left: 18%;
  margin-top: 110%;
  opacity: 0.95;
}




/*------------Score------------*/

#score-bakgrunn {
  background: url('https://s3-eu-west-1.amazonaws.com/powerhack/background.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  left: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  min-height: 100%;
  min-width: 100%;
}

.innhold {
  position: relative;
  width: 100%;
  text-align: center;
}

#scoreboard {
  width: 90%;
  margin-top: 20%;
}

.tittel {
  position: absolute;
  top: 12%;
  left: 36%;
  color: white;
  opacity: 0.8;
}

#score-list {
  position: absolute;
  top: 25%;
  text-align: center;
  width: 100%;
}

.score-listing {
  color: white;
  opacity: 0.8;
  font-weight: 100;
  font-size: 1.5em;
  text-align: center;
}

#scoreboard-navbar {
  position: absolute;
  background-color: black;
  left: 0;
}

#hageknapp {
  position: absolute;
  width: 165px;
  height: 55px;
  top: 60px;
}

#listeknapp {
  position: absolute;
  width: 165px;
  height: 55px;
  left: 158px;
  top: 60px;
}




























