$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

@import url(http://fonts.googleapis.com/css?family=Poiret+One);

html {
  overflow: hidden;
}

/*------------LOGIN------------*/

#login-bakgrunn {
  background: url('https://s3-eu-west-1.amazonaws.com/powerhack/login.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  left: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  min-height: 100%;
  min-width: 100%;
}

.loginknapp {
  position: absolute;
  display: block;
  left: 0;
  width: 64%;
  margin-left: 18%;
  margin-top: 110%;
  opacity: 0.95;
}




/*------------Score------------*/

#score-bakgrunn {
  background: url('https://s3-eu-west-1.amazonaws.com/powerhack/background.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  left: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  min-height: 100%;
  min-width: 100%;
}

.innhold {
  position: relative;
  width: 100%;
  text-align: center;
}

#scoreboard {
  width: 90%;
  margin-top: 20%;
}

.tittel {
  position: absolute;
  top: 12%;
  left: 36%;
  color: white;
  opacity: 0.8;
}

#score-list {
  position: absolute;
  top: 25%;
  text-align: center;
  width: 100%;
}

.score-listing {
  color: white;
  opacity: 0.8;
  font-weight: 100;
  font-size: 1.5em;
  text-align: center;
}

#scoreboard-navbar {
  position: absolute;
  background-color: black;
  left: 0;
}

#score-hageknapp {
  position: absolute;
  width: 165px;
  height: 55px;
  top: 60px;
}

#score-listeknapp {
  position: absolute;
  width: 165px;
  height: 55px;
  left: 158px;
  top: 60px;
}



/*------------Garden------------*/

#garden-background {
  background: url('https://s3-eu-west-1.amazonaws.com/powerhack/background.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  left: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  min-height: 100%;
  min-width: 100%;
}

#garden-hageknapp {
  position: absolute;
  width: 165px;
  height: 55px;
  top: 520px;
}

#garden-listeknapp {
  position: absolute;
  width: 165px;
  height: 55px;
  left: 158px;
  top: 520px;
}

#gather-button {
  position: absolute;
  width: 180px;
  left: 70px;
  top: 450px;
  cursor: pointer;
  cursor: hand;
}

#topbar {
  position: absolute;
  left: 0;
  top: -35px;
}
#storeList {
  margin-top: 67px;
}
#store_item_1 {
  height: 30px;
}

#store_item_2 {
  height: 30px;
}

#store_item_3 {
  height: 30px;
}

#store_item_4 {
  height: 30px;
}

.hagenavn {
  font-weight: 900; 
  font-size: 150%;
  color: white;
  position: absolute;
  right: 5px;
  top: 10px;
  font-family: 'Poiret One', bold;
}



#facebook_button {
  position: absolute;
  left: 10px;
  top: 450px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  cursor: hand;
  background-color: #5b77b4;
}

#twitter_button {
  position: absolute;
  right: 10px;
  top: 450px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  cursor: hand;
}

#store_item_5 {
  height: 30px;
}

#store_item_6 {
  height: 30px;
}

#garden_item_1 {
  position: absolute;
  height: 130px;
  top: 300px;
}

#garden_item_2 {
  position: absolute;
  height: 130px;
  top: 300px;
}

#garden_item_3 {
  position: absolute;
  height: 130px;
  top: 300px;
}

#garden_item_4 {
  position: absolute;
  height: 130px;
  top: 300px;
}

#garden_item_5 {
  position: absolute;
  height: 130px;
  top: 300px;
}

#garden_item_6 {
  position: absolute;
  height: 130px;
  top: 300px;
}

#shopicon {
  position: absolute;
  height: 30px;
  top: 10px;
  left: 5px;
}






















