<div id="garden-background">

<!-- DENNE ER TIL Å PLASSERE I HAGEN -->
<div ng-repeat="(key,item) in items">
	<img id="garden_{{key}}" ng-show="item.hasItem" src="{{item.url}}" alt="Smiley face">
</div>

<button id="facebook_button" class="btn btn-facebook"><i class="fa fa-facebook" id="facebook_button_i"></i></button>
<button id="twitter_button" class="btn btn-twitter"><i class="fa fa-twitter" id="twitter_button_i"></i></button>

<!-- DENNE ER TIL BUTIKKEN -->
<div ng-show="store_open">
	<div ng-repeat="(key,item) in items">
		<img id="store_{{key}}" ng-show="!item.hasItem" src="{{item.url}}" alt="Smiley face">
		<button ng-click="buyItem(key, item.price)" ng-show="!item.hasItem">KJØP</button>
		<p ng-show="!item.hasItem">Price: {{item.price}}</p>
	</div>
</div>


</div>



<div id="topbar">
	<img src="https://s3-eu-west-1.amazonaws.com/powerhack/topbar.png">
</div>

<img id="shopicon" src="https://s3-eu-west-1.amazonaws.com/powerhack/shop.png" ng-click="openStore()">

<div class="hagenavn">

  {{auth.user.first_name}}  sin hage
  &nbsp 
  {{coins |number:0}}
  <img src="https://s3-eu-west-1.amazonaws.com/powerhack/blad.png">
</div>


	<img id="gather-button" src="https://s3-eu-west-1.amazonaws.com/powerhack/gatherButton.png" ng-click="fetch()">

<div id="scoreboard-navbar">

	<a href="/garden">
		<img id="garden-hageknapp" src="https://s3-eu-west-1.amazonaws.com/powerhack/garden-hageknapp.png">
	</a>
	<a href="/main">
		<img id="garden-listeknapp" src="https://s3-eu-west-1.amazonaws.com/powerhack/garden-listaknapp.png">
	</a>
</div>

