<div id="garden-background"></div>




<img id="gather-button" src="https://s3-eu-west-1.amazonaws.com/powerhack/gatherButton.png" ng-click="">

<div id="scoreboard-navbar">
	<a href="/garden">
		<img id="garden-hageknapp" src="https://s3-eu-west-1.amazonaws.com/powerhack/garden-hageknapp.png">
	</a>
	<a href="/main">
		<img id="garden-listeknapp" src="https://s3-eu-west-1.amazonaws.com/powerhack/garden-listaknapp.png">
	</a>
</div>

<!-- JØRGEN SIN TING: -->
<div style="background: #000000 url('img/stars.gif') top left;">
	<img ng-show="showPic_1" src="http://dhtmlconf.com/img/mchammer.gif" alt="Smiley face">
	<img ng-show="showPic_2" src="http://dhtmlconf.com/img/spinningearth.gif" alt="Smiley face">
	<img ng-show="showPic_3" src="http://dhtmlconf.com/img/mchammer.gif" alt="Smiley face">
	<img ng-show="showPic_4" src="http://dhtmlconf.com/img/spinningearth.gif" alt="Smiley face">
	<img ng-show="showPic_5" src="http://dhtmlconf.com/img/mchammer.gif" alt="Smiley face">
	<img ng-show="showPic_6" src="http://dhtmlconf.com/img/spinningearth.gif" alt="Smiley face">
</div>
