<!-- <div ng-include="'partials/navbar'"></div> -->

<div class="jumbotron">
  <h1>Bartehagen</h1>
  <p class="lead">
        Velkommen til kampen, {{auth.user.name}}!
    </p>
  <p><a class="btn btn-lg btn-success" ng-href="#" ng-click="fetch()">API test!</a></p>
</div>

<div class="row marketing">

  <!--
  <div ng-repeat="thing in awesomeThings">
      <h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p>
  </div>
  -->
</div>


<div class="footer">
  <button class="btn btn-default" ng-click="logout()">Log out</button>
  <p>♥ Gløshaugen vgs ♥</p>
</div>
