<!-- <div ng-include="'partials/navbar'"></div> -->

<div id="score-bakgrunn"></div>

<div class="innhold">
	<img id="scoreboard" src="https://s3-eu-west-1.amazonaws.com/powerhack/scorebrett.png">




	<div id="score-list">
		<div ng-repeat="stuff in nameArray">
			<div class="score-listing">
				<em>{{stuff.userinfo.first_name}}</em>: {{stuff.score.points}}
			</div>
		</div>
	</div>

	<button ng-click="logout()">logout</button>
</div>

<div id="scoreboard-navbar">
	<a href="">
		<img id="hageknapp" src="https://s3-eu-west-1.amazonaws.com/powerhack/hageknapp.png">
	</a>
	<a href="">
		<img id="listeknapp" src="https://s3-eu-west-1.amazonaws.com/powerhack/listaknapp.png">
	</a>
</div>