<!-- <div ng-include="'partials/navbar'"></div> -->

<div class="jumbotron">
  <h1>Bartehagen</h1>
  <p class="lead">
        Velkommen til kampen, {{auth.user.name}}!
    </p>
    <p>Du har {{coins}} penger!</p>
  <p><a class="btn btn-lg btn-success" ng-href="#" ng-click="fetch()">API test!</a></p>

</div>

<div class="row marketing">


  <div ng-repeat="stuff in nameArray">
    <em>{{stuff.userinfo.first_name}}</em>: {{stuff.score.points}} </div>

</div>


<div class="footer">
  <button class="btn btn-default" ng-click="logout()">Log out</button>
  <p>♥ Gløshaugen vgs ♥</p>
</div>
